/* 公共样式 */
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
}
.wang-side{
     flex-shrink: 0;  /* 不会被兄弟元素压迫 */
    width: 256px;
    height: 100%;
    background: red;
}
.wang-side ul li{
    color:#fff;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #000;
    padding-left: 20px;
}
.wang-side ul li a{
    color: #fff;
    list-style: none;
}
.wang-main{
    flex: 1;
    /* flex-grow: 1; */
    background: #cccccc;
    display: flex;
    flex-direction: column;
}
.wang-head{
    height: 100px;
    background: blue;
}
.wang-body{
    flex: 1;
    overflow-y: auto;
}
.btn{
    margin:5px;
}

/* ---------------------------------- */

.wang-table{
    width: 100%;
    border: 1px solid #000;
    margin-top: 5px;
}

.wang-table th, .wang-table td{
    border:1px solid #000;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.wang-table .banner-img{
    height:50px;
    vertical-align: middle;
    margin: 0 auto;
}

